/* LAYOUT  */
header, main, footer {
    max-width: 1400px;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background: url("../images/bg.jpg") repeat;
    backdrop-filter: grayscale(1);
    font-family: Arial;
}

footer {
    background-color: #333333;
}

/* BASE */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FFC600;
    text-decoration: none;
}

ul {
    padding: 0 0 0 20px;
}

li {
    list-style: none;
}

.yellow-bg {
    background-color: #FFC600;
}

.white-bg {
    background-color: #FFFFFF;
}

.dark-bg {
    background-color: #2B2B2B;
}

.white {
    color: #ffffff;
}

.grey {
    color: #959595;
}

h1 {
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 0px;
    color: #333333;
    line-height: 60px;
}

h2 {
    font-family: 'Kanit', sans-serif;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 23px;
    margin-bottom: 0px;
}

h4 {
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

h5 {
    font-size: 17px;
}

.para-big {
    font-size: 20px;
}

button {
    padding: 5px 25px;
    border: none;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    width: 170px;
}

button:hover {
    filter: drop-shadow(4px 4px 4px gold);
}

button.yellow-bg:hover, .yellow-bg button:hover {
    filter: drop-shadow(4px 4px 4px grey);
}

.row {
    width: 100%;
    margin: 20px 0;
}

/* HEADER ELEMENTS */
.logo-header {
    padding: 30px;
    max-width: 180px;
    margin-left: 45px;
}

/* NAVIGATION */
.nav-wrapper {
    width: 100%;
}

.hamburger {
    color: black;
    font-weight: bolder;
    display: none;
    zoom: 185%;
}

@media all and (min-width: 960px) {
    .nav-item {
        display: inline-block;
        padding-left: 35px;
    }

    .nav-items-wrapper {
        margin: 0 50px 0 0;
    }

}

@media screen and (max-width: 959px) {
    nav ul {
        display: none;
    }

    #nav-div.openNav {
        width: 100%;
        position: absolute;
        background: black;
        opacity: .8;
        top: 0;
    }

    #nav-div.openNav .hamburger {
        position: absolute;
        right: 0;
        top: 7px;
        color: white;
        opacity: .8;
    }

    .nav-wrapper .hamburger {
        float: right;
        display: block;
        padding: 12px;
        position: relative;
        zoom: 185%;
    }

    nav.openNav {
        margin: 35px 0;
    }

    nav.openNav ul {
        float: none;
        display: block;
        text-align: center;
    }

    nav.openNav li {
        padding: 9px 0;
    }
}

.nav-item a:hover {
    color: #000000;
}

/* CONTENT HP */
.section {
    padding: 80px;
}

#section-first {
    padding: 90px;
}

@media screen and (max-width: 959px) {
    .section, #section-first {
        padding: 40px;
    }
}


.section-first-content, .section-first-image {
    width: 40%;
    display: inline-block;
}

.section-first-image {
    background: url(../images/logo-footer-2.png) no-repeat;
    width: 50%;
    height: 281px;
    background-size: 100%;
}

.section-first-content-text {
    padding: 20px 0;
    max-width: 400px;
}


@media screen and (max-width: 959px) {
    .section-first-image {
        margin-left: 50px;
    }
}

@media screen and (max-width: 740px) {
    .section-first-image {
        display: none;
    }

    .section-first-content {
        width: 100%;
    }
}


.round-image {
    max-width: 50px;
    border-radius: 26px;
    margin-right: 10px;
}

.section-second-content-title, .section-second-content-title-image {
    display: inline-block;
}

.section-second-content-title-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.black-and-white-image {
    filter: grayscale(1);
}

.black-and-white-image:hover {
    filter: none;
    box-shadow: 3px 3px 3px #eeeeee;
}

.big-image {
    width: inherit;
    margin-bottom: 20px;
}

.small-image {
    border: 1px solid #eeeeee;
    max-width: 200px;
    margin-bottom: 20px;
}

.images-row {
    margin-top: 80px;
}

.images-row  .col-lg-3 {
    text-align: center;
}

.sponsors-row {
    margin-top: 80px;
}

.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
    }
}

@media (max-width: 995px) {
    .col-lg-15 {
        width: 30%;
    }
}

@media (max-width: 759px) {
    .col-lg-15 {
        width: 50%;
    }
}

@media (max-width: 519px) {
    .col-lg-15 {
        width: 100%;
    }
}

/* FOOTER */
.footer-first {
    padding: 20px 20px 0px 20px;
}

.logo-footer img {
    max-width: 150px;
}

footer {
    color: #636363;
}

.slider-image {
    max-width: 60px;
}

@media (max-width: 767px) {
    .news-images .slider-image {
        max-width: 150px;
    }
}

@media (max-width: 575px) {
    .slider-image, .news-images .slider-image  {
        max-width: 100px;
    }
}

.slider-row .col-md-3 {
    padding-bottom: 20px;
    padding-left: 0;
    text-align: center;
}

.policy-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

@media (max-width: 850px) {
    .policy-row {
        display: block;
        padding-bottom: 20px;
    }

    .policy-second, .policy-first {
        text-align: center;
    }

    .policy-second a {
        padding: 0 15px;
    }
}

.policy-first p {
    display: inline-block;
    padding: 0 20px;
}

.policy-second img, .contact-social img {
    max-width: 28px;
    background-color: #959595;
    padding: 6px;
    border-radius: 7px;
}


.policy-second img:hover, .contact-social img:hover {
    box-shadow: 2px 2px 2px cornflowerblue;
}

.policy-second img:hover, .contact-social img:hover {
    filter: invert();
    cursor: pointer;
}

/* CONTACT PAGE */
#map {
    height: 400px;
    width: 100%;
}

.section-map {
    padding: 0;
}

.contact-info h3, .contact-content h3 {
    margin-bottom: 10px;
}

.contact-social img {
    display: inline-block;
}

.form-row, .form-btn {
    padding: 10px;
    display: block;
}

.form-row label, .form-row input, .form-row textarea {
    font-family: 'Kanit', sans-serif;
    display: block;
}

.form-row label {
    font-weight: bold;
}

.form-row textarea {
    width: 100%;
    height: 100px;
}

/* NEWS PAGE */
#section-news-first, #section-news {
    padding: 40px;
}

.news-post {
    margin-bottom: 30px;
}

.news-meta {
    padding: 15px 0;
}

.news-meta .meta-wrapper, .news-meta .meta-wrapper > * {
    display: inline-block;
}

.news-meta p {
    padding: 0 10px 0 3px;
}

.news-meta img {
    width: 20px;
    height: 20px;
    opacity: .7;
}

.news-image img {
    width: 100%;
    height: inherit;
    max-height: 500px;
}

.news-content {
    padding: 15px 0;
}

.news-btn button {
    width: 200px;
}

.widget {
    margin-bottom: 80px;
}

.widget h4 {
    margin-bottom: 30px;
}

.news-search-input input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    width: 100%;
    max-width: 300px;
}

.news-post-mini > * {
    display: inline-block;
}

.news-post-mini-content {
    max-width: 200px;
}

.mini-image {
    margin-right: 5px;
    vertical-align: initial;
    max-width: 70px;
}

.tab-btn {
    width: 100px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 15px;
}

@media (max-width: 1017px) {
    .tab-btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tab-btn {
        width: 169px;
    }
}

.tab-btn.active {
    filter: invert();
    border-bottom: 0;
}

.news-tabs-widget-btn-wrapper {
    margin-bottom: 20px;
}

.accordion-content {
    display: none;
    margin-left: 20px;
}

.accordion {
    font-weight: bold;
    cursor: pointer;
}

.accordion:hover {
    color: #FFC600!important;
}

.accordion:before {
    content: '+';
    display: inline-block;
    height: 20px;
    width: 20px;
}

.accordion.active:before {
    content: '-';
    vertical-align: revert;
}

.news-detail .news-image img {
    max-height: 600px;
}